<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2023 European Commission
  ~
  ~ Licensed under the EUPL, Version 1.2 or - as soon they will be approved by the European
  ~ Commission - subsequent versions of the EUPL (the "Licence"); You may not use this work
  ~ except in compliance with the Licence.
  ~
  ~ You may obtain a copy of the Licence at:
  ~ https://joinup.ec.europa.eu/software/page/eupl
  ~
  ~ Unless required by applicable law or agreed to in writing, software distributed under
  ~ the Licence is distributed on an "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF
  ~ ANY KIND, either express or implied. See the Licence for the specific language
  ~ governing permissions and limitations under the Licence.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".TestRQESApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestAppEudiRQESUi"
        tools:targetApi="31">
        <activity
            android:name=".TestRQESActivity"
            android:exported="true"
            android:theme="@style/Theme.TestAppEudiRQESUi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>